---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="About">
  <h1>About <span>page</span></h1>
</MainLayout>

<!-- inline style -->
<style>
  h1 {
    font-size: 24px;
		/* PostCSS */
    span {
			color: #555;
    }
  }
</style>
